<div>
    <form action="/forms/new-user" method="POST">
        <label>ID:</label><br>
        <input type="text" id="lid" name="id" value={{user.id}}><br>

        <label>Name:</label><br>
        <input type="text" id="lname" name="name" value={{user.name}}><br>

        <label>First Name:</label><br>
        <input type="text" id="lfirstname" name="firstname" value={{user.firstname}}><br>

        <label>Last Namne:</label><br>
        <input type="text" id="llastname" name="lastname" value={{user.lastname}}><br>

        <label>Email:</label><br>
        <input type="text" id="lemail" name="email" value={{user.email}}><br>

        <label>Password:</label><br>
        <input type="password" id="lpassword" name="paswword" value={{user.password}}><br>

        <label>Status:</label><br>
        <input type="text" id="lstatus" name="status" value={{user.status}}><br>

        <button>
            Submit
        </button>
    </form>
</div>