<h2>Users</h2>
<div class="usersList">
{{#each usersArray}}
<h5>Nombre: {{name}}​​ - Primer apellido: {{firstname}}​​ - Segundo apellido: {{lastname}}​​ - Correo: {{email}}​​ - Estatus: {{status}}​​</h5>
{{/each}}​​
</div>
