<h1>
    All users
</h1>

{{#each users}}

<h3>
    {{name}}
</h3>
<ul>
    <li>firstName {{firstName}}</li>
    <li>lastName {{lastName}} </li>
    <li>email {{email}}</li>
    <li>password {{password}}</li>
    <li>status {{status}}</li>
</ul>
{{/each}}